<h1>New Img Word</h1>

<%= render 'form' %>

<%= link_to 'Back', img_words_path %>

  <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../assets/spectrum/spectrum.css" />
  <link rel="stylesheet" href="../assets/seiyria-bootstrap-slider/css/bootstrap-slider.css" />
  
  <script type="text/javascript" src="../assets/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../assets/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="../assets/pixi.js/bin/pixi.dev.js"></script>
  <script type="text/javascript" src="../assets/spectrum/spectrum.js"></script>
  <script type="text/javascript" src="../assets/seiyria-bootstrap-slider/js/bootstrap-slider.js"></script>

  <script type="text/javascript" src="../assets/pixi-editor/pixi-editor.js"></script>
  <style> 
  /* Customize container */
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }
  </style>
  <script type="text/javascript">

      var editor1 = null;

      $(function(){

    editor1 = new editor('view', 650, 400); 
    editor1.onSave(function(image){         
        var win = window.open(image);
    });

      });     

  </script>

    <div class="container">

  <div class="header">
      <h3>Draw your association with this word</h3>
  </div>

  <div class="well" id="view">      
  </div>
    </div>